<!DOCTYPE html>
<html>
    <head>
        <title> MotoRate</title>
        <link rel = "stylesheet" type = "text/css" href = "../static/css/style.css">
        <link href = "https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel = "stylesheet">
    </head>
    <body>
        <div class="banner">
        <div class="container">
            <nav>
                <img src = "../static/css/images/menu.png">
                <ul>
                    <li><img src = "../static/css/images/car_icon.png"></li>
                    <li>Engine</li>
                    <li>Tyres</li>
                    <li>Brakes</li>
                    <li>Gearbox</li>
                </ul>
            </nav>

            <div class = "content">
                <h1>MotoRate - Car Price Prediction</h1>
                <p><b>Planning for buying a Car? Confused for
                the prices? Just feed in your requirements and
                get the best price for the car you are keeping 
                your eye. </b>
                </p>
                <p><b> Visit us now to explore the prices of the CAR.😁</b></p>
                <a href="index"> <b>PREDICT</b> </a>
            </div>
            <img src = "../static/css/images/car.png" class="car-img">
            <div class="bottom-menu">
                <div>
                    <img src = "../static/css/images/icon1.png"><p>252 mph</p>
                </div>
                <div>
                    <img src = "../static/css/images/icon1.png"><p>1,001 hp</p>
                </div>
                <div>
                    <img src = "../static/css/images/icon1.png"><p>922 lbf.ft</p>
                </div>
                <div>
                    <img src = "../static/css/images/icon1.png"><p>Rs25 lakh</p>
                </div>
            </div>
        </div>
        </div>
    </body>
</html>