<!DOCTYPE html>
<html>
    <head>   
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> MotoRate2</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style2.css">
    </head>
    <body>
        <form action="{{ url_for('predict')}}" method="POST">
            <br>
            <h2> MOTORATE - CAR PRICE PREDICTION</h2>
            <br>
            <h3>Year</h3>
            <input id="first" name="Year" type="number">
            <h3>Showroom Price(In lakhs)</h3>
            <input id="second" name="Present_Price" required="required">
            <h3>Kilometers Drived</h3>
            <input id="third" name="Kms_Driven" required="required">
            <h3>Owners Previously had the car</h3>
            <input id="fourth" name="Owner" required="required">
            <h3>Fuel Type</h3><select name="Fuel_Type_Petrol" id="fuel" required="required">
                <option value="Petrol">Petrol</option>
                <option value="Diesel">Diesel</option>
                <option value="Diesel">CNG</option>
            </select>
            <h3>Are you A Dealer or Individual</h3><select name="Seller_Type_Individual" id="resea" required="required">
                <option value="Dealer">Dealer</option>
                <option value="Individual">Individual</option>
            </select>
            <h3>Transmission type</h3><select name="Transmission_Mannual" id="research" required="required">
                <option value="Mannual">Manual Car</option>
                <option value="Automatic">Automatic Car</option>
            </select>
            <br><br><button id="sub" type="submit ">Calculate</button>
            <br>

        </form>
        
        <br><h3>{{ prediction_text }}<h3>
    </body>
</html>